<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://a.hiphotos.baidu.com/image/pic/item/e7cd7b899e510fb3a78c787fdd33c895d0430c44.jpg</string>
	<string>http://c.hiphotos.baidu.com/image/pic/item/0ff41bd5ad6eddc4433642f23bdbb6fd536633e1.jpg</string>
	<string>http://c.hiphotos.baidu.com/image/pic/item/6a600c338744ebf8a05ade3bdbf9d72a6059a78f.jpg</string>
	<string>http://g.hiphotos.baidu.com/image/pic/item/0df3d7ca7bcb0a46bc0b4d3d6963f6246b60af8d.jpg</string>
	<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d0160924324fd413d60735fae6cd344b.jpg</string>
	<string>http://d.hiphotos.baidu.com/image/pic/item/9213b07eca8065382f3ed21b95dda144ac3482e5.jpg</string>
	<string>http://g.hiphotos.baidu.com/image/pic/item/bba1cd11728b47107f5637c5c1cec3fdfc0323ba.jpg</string>
	<string>http://c.hiphotos.baidu.com/image/pic/item/8694a4c27d1ed21bdcb0e4ecaf6eddc451da3fba.jpg</string>
	<string>http://h.hiphotos.baidu.com/image/pic/item/d009b3de9c82d1586bfb93b8820a19d8bc3e42ba.jpg</string>
	<string>http://b.hiphotos.baidu.com/image/pic/item/8601a18b87d6277f3fb4743f2a381f30e924fc17.jpg</string>
	<string>http://b.hiphotos.baidu.com/image/pic/item/d788d43f8794a4c274c8110d0bf41bd5ad6e3928.jpg</string>
	<string>http://b.hiphotos.baidu.com/image/pic/item/08f790529822720ebdaa5d127fcb0a46f31fabf6.jpg</string>
</array>
</plist>
